{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Brian and Annie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
	</head>
	<body>

		<!-- Header -->
		<header id="header" class="alt">
			<div class="inner">
				<h1>Brian and Annie</h1>
				<h2>#LegallyBrannie</h2>
			</div>
		</header>

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main used as intro text-->
			<section id="main" class="main">
				<header>
					<h2>Local Activities</h2>
				</header>

				<p> We know everyone has different preferences on what kind of activities they find fun so we have compiled a few great lists of activities in Chatham and around the cape below. If you want to know our favorite activities they include: walking around the shops on Main Street in Chatham, biking the Cape Cod rail trail, visiting the galleries and eating oysters at the harbour in Wellfleet, and exploring the various nature walks around the cape! </p>

				<p> Here are four great lists of things to do in Chatham: </p>
				<ul>
					<li><a target='_blank' href='http://www.newenglandtravelplanner.com/go/ma/capecod/chatham/sights/'>Chatham Sightseeing</a></li>
					<li><a target='_blank'href='http://www.chathaminfo.com/what-to-do'>What to do in Chatham</a></li>
					<li><a target='_blank'href='http://capecodonline.com/things-to-do/five-things-chatham/'>Five things to do in Chatham</a></li>
					<li><a target='_blank'href='https://www.tripadvisor.com/Attractions-g41499-Activities-Chatham_Cape_Cod_Massachusetts.html'>Tripadvisor: Chatham Activities</a></li>
				</ul>

				<p> Here are five great lists of things to do throughout Cape Cod:
				<ul>
					<li><a target='_blank' href='http://www.capecodchamber.org/articles/25-free-things-do-cape-cod'>25 free things to do on Cape Cod</a></li>
					<li><a target='_blank' href='http://vacationidea.com/weekend_getaways/best-of-cape-cod.html'>25 best activities on Cape Cod</a></li>
					<li><a target='_blank' href='http://www.capecodtravel.com/ten-best-nature-walks-cape-cod'>10 best nature walks on Cape Code</a></li>
					<li><a target='_blank' href='http://www.travelandleisure.com/travel-guide/cape-cod/things-to-do'>Travel and Leisure: Cape Cod things to do</a></li>
					<li><a target='_blank' href='https://www.tripadvisor.com/Attractions-g185492-Activities-Cape_Cod_Massachusetts.html'>Tripadvisor: Cape Cod Activities</a></li>
				</ul>
			</section>

			<!-- CTA -->
			<section id="cta" class="main special">
				<h2>We Hope You Can Make It</h2>
				<p>We are looking forward to celebrating with you.<br />
				Feel free to contact us with any questions, comments<br />
				or concerns. See you soon!</p>
				<ul class="actions">
					<li><a href="#" class="button big contactBtn">Contact Info</a></li>
				</ul>
				<ul class="actions">
					<li><a href="/" class="button big">Home Page</a></li>
				</ul>
				<!-- Contact Modal -->
				<div class="contactModal">
				  <div class="contactModal-content">
				    <div class="contactModal-text">
				    	<h3>Email: <a href="mailto:legally.brannie@gmail.com">legally.brannie@gmail.com</a></h3>
				    	<h3>Phone: <a href="tel:1-609-273-2099">1-609-273-2099</a></h3>
				    </div>
				    <a href="#" class="button big contactModal-close">Close</a>
				  </div>

				</div>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/search?f=tweets&q=%23LegallyBrannie&src=typd" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/search/top/?q=%23LegallyBrannie" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/explore/tags/LegallyBrannie/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<p class="copyright">&copy; <a href="https://templated.co">TEMPLATED</a></p>
			</footer>

		</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
	</body>
</html>