{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Brian and Annie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>Brian and Annie</h1>
					<h2>#LegallyBrannie</h2>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main used as intro text-->
					<section id="main" class="main">
						<header>
							<h2>Save the date!</h2>
							<h2>May 26-29, 2017</h2>
							<h3>We are so excited to celebrate our marriage with you this coming Memorial Day Weekend</h3>
						</header>
						<figure>
						    <figcaption>Tentative schedule is as follows:</figcaption>
						    <ul>
								<li>Friday May 26th - Welcome Dinner</li>
								<li>Saturday May 27th - Cape Cod Activities</li>
								<li>Sunday May 28th - Wedding and Reception</li>
								<li>Monday May 29th - Farewell Brunch</li>
						    </ul>
						</figure>
						<p>More information on the schedule, venue, accomodation and travel information will be posted below as it becomes available.</p>
						<p>In the meanwhile, we would love to tentatively know your plans (so we can start planning how many fun activities to have!!) <b style="color:blue;">so please fill out this <a target="_blank" href='https://docs.google.com/forms/d/e/1FAIpQLSeswtDUboI5vVydjL3xAyyKj8l8sXeCwZscHqMBNnXqyq-1Ag/viewform?c=0&w=1'>quick form</a></b> at your convenience.</p>
						<p>&#35;SoExcited</p>
						-Brannie 😍
					</section>

				<!-- Banner to Login
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>RSVP to our Wedding</h2>
						<p>Log in by clicking the link below and you can RSVP, <br/>
						   set you food preferences, and more!</p>
						<ul class="actions">
							<li><a href="#" class="button big">Log In</a></li>
						</ul>
					</section>
				-->

				<!-- Items -->
					<section class="main items">
						<!-- Schedule of Events
						<article class="item">
							<header>
								<a href="wedding/events"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
								<h3>View the schedule of events</h3>
							</header>
							<figure>
							    <figcaption>Schedule of events is as follows:</figcaption>
							    <ul>
									<li>Friday May 26th 7-9pm - Welcome Dinner</li>
									<li>Saturday May 27th noon-4pm - Cape Cod Activities</li>
									<li>Sunday May 28th 3:30pm-late - Wedding and Reception</li>
									<li>Monday May 29th 10am-noon - Farewell Brunch</li>
							    </ul>
							</figure>
							<ul class="actions">
								<li><a href="wedding/events" class="button">Full Itinerary</a></li>
							</ul>
						</article>
						-->
						<!-- Accomodation and Travel -->
						<article class="item">
							<header>
								<a target="_blank" href="https://www.google.com/maps/place/Chatham+Bars+Inn/@41.6849835,-69.9544489,17z/data=!3m1!4b1!4m5!3m4!1s0x89fb135929407759:0x9c58053617748518!8m2!3d41.6849795!4d-69.9522602"><img src="{% static 'images/capeMap.jpg' %}" alt="" /></a>
								<h3>Accomodation and travel information</h3>
							</header>
							<p>Chatham is 90 miles from Boston Logan Airport. There is also a small airport in Hyannis, MA 20 miles away. There is regular bus and weekend train service from Boston to Hyannis. We will try our hardest to help coordinate car pools from Boston and Hyannis, <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeswtDUboI5vVydjL3xAyyKj8l8sXeCwZscHqMBNnXqyq-1Ag/viewform?c=0&w=1">let us know</a> if you need our help! </p>
							<p>We hotel blocks at different price points as well as found local bed and breakfasts at various price points that have availability and are located near our venue. If you are also interested in sharing an Airbnb, <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeswtDUboI5vVydjL3xAyyKj8l8sXeCwZscHqMBNnXqyq-1Ag/viewform?c=0&w=1">let us know</a> and we will try to help coordinate.</p>
							<ul class="actions">
								<li><a href="wedding/hotels" class="button">Hotel Information</a></li>
								<li><a href="wedding/directions" class="button">Directions</a></li>
							</ul>
						</article>
						<!-- Venue -->
						<article class="item">
							<header>
								<a target="_blank" href="http://www.chathambarsinn.com/"><img src="{% static 'images/cbiSign.jpg' %}" alt="" /></a>
								<h3>Explore our venue</h3>
							</header>
							<p>Our venue will be the picturesque Chatham Bars Inn. Many of you will recognize it as one of Annie's favorite spots for lunch on Cape Cod and it's also where Brian proposed over Labor Day Weekend! </p>
							<ul class="actions">
								<li><a target="_blank" href="http://www.chathambarsinn.com/" class="button">Venue Website</a></li>
							</ul>
						</article>
						<!--
						<article class="item">
							<header>
								<a href="#"><img src="{% static 'images/pic04.jpg' %}" alt="" /></a>
								<h3>Our registry</h3>
							</header>
							<p>We are already blessed by your presence but if you insist on giving us a gift as well you will find links to our registries below:</p>
							<ul class="actions">
								<li><a href="#" class="button">Bloomingdales Registry</a></li>
								<li><a href="#" class="button">Thankful Registry</a></li>
								<li><a href="#" class="button">Experiences Registry</a></li>
							</ul>
						</article>
						-->
					</section>

				<!-- CTA -->
					<section id="cta" class="main special">
						<h2>We Hope You Can Make It</h2>
						<p>We are looking forward to celebrating with you.<br />
						Feel free to contact us with any questions, comments<br />
						or concerns. See you soon!</p>
						<ul class="actions">
							<li><a href="#" class="button big contactBtn">Contact Info</a></li>
						</ul>
						<!-- Contact Modal -->
						<div class="contactModal">
						  <div class="contactModal-content">
						    <div class="contactModal-text">
						    	<h3>Email: <a href="mailto:legally.brannie@gmail.com">legally.brannie@gmail.com</a></h3>
						    	<h3>Phone: <a href="tel:1-609-273-2099">1-609-273-2099</a></h3>
						    </div>
						    <a href="#" class="button big contactModal-close">Close</a>
						  </div>

						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://twitter.com/search?f=tweets&q=%23LegallyBrannie&src=typd" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/search/top/?q=%23LegallyBrannie" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/explore/tags/LegallyBrannie/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
						<p class="copyright">&copy; <a href="https://templated.co">TEMPLATED</a></p>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>

	</body>
</html>