{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Brian and Annie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/itinerary.css' %}"/>
	</head>
	<body>

		<!-- Header -->
		<header id="header" class="alt">
			<div class="inner">
				<h1>Brian and Annie</h1>
				<h2>#LegallyBrannie</h2>
			</div>
		</header>

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main used as intro text-->
			<section id="main" class="main">
				<header>
					<h2>Weekend Itinerary</h2>
				</header>
				<h3> THIS PAGE IS STILL UNDER CONSTRUCTION APOLOGIES FOR TYPOS </h3>
				<p> Below you will find a high level itinerary of all of the events for the weekend with links to more detailed pages where appropriate. </p>
			</section>

			<div id="timeline-section">
				<section id="cd-timeline" class="cd-container">
					
					<!-- Friday -->
					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-picture">
							<img src="{% static 'images/icons/logo.png' %}" alt="">
						</div> <!-- cd-timeline-img -->
						<div class="cd-timeline-content">
							<h2>Welcome Barbecue</h2>
							<p>Join us for a welcome barbecue at the Chatham Bars Inn Beach House.</br>Attire: dressy casual</p>
							<span class="cd-date">Friday 6pm</span>
						</div> <!-- cd-timeline-content -->
					</div> <!-- cd-timeline-block -->

					<!-- Saturday -->
					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-picture">
							<img src="{% static 'images/icons/logo.png' %}" alt="">
						</div> <!-- cd-timeline-img -->
						<div class="cd-timeline-content">
							<h2>Cape Cod Activities</h2>
							<p>Enjoy one of our planned activities or make your own adventure. Click the link to explore them in detail and make sure to sign up for one on your reply card! We've also included our favorite spots to eat. Attire: casual / varies by restaurant.</p>
							<ul class="actions">
								<li><a target="_blank" href="/wedding/saturday" class="button small">Activity Details</a></li>
								<li><a target="_blank" href="/wedding/restaurants" class="button small">Local Restaurants</a></li>
							</ul>
							<span class="cd-date">Saturday throuhgout the day</span>
						</div> <!-- cd-timeline-content -->
					</div> <!-- cd-timeline-block -->

					<!-- Sunday-->
					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-picture">
							<img src="{% static 'images/icons/logo.png' %}" alt="">
						</div> <!-- cd-timeline-img -->
						<div class="cd-timeline-content">
							<h2>Pre-Ceremony Champagne and Lemonade</h2>
							<p>Arrive at the Chatham Bars Inn South Lawn early to enjoy some pre-ceremony drinks. Attire: semiformal.</p>
							<span class="cd-date">Sunday 2:30pm</span>
						</div> <!-- cd-timeline-content -->
					</div> <!-- cd-timeline-block -->

					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-picture">
							<img src="{% static 'images/icons/logo.png' %}" alt="">
						</div> <!-- cd-timeline-img -->
						<div class="cd-timeline-content">
							<h2>Wedding Ceremony, Reception and After Party</h2>
							<p>The main event will start on the Chatham Bars Inn South Lawn at 3:30pm sharp! Don't be late! Following the ceremony we will get the party started on the South Lawn and the adjacent tent and party until the noise ordances say we have to stop at which point we will move up to the Monomoy Room for an after party. Bring your dancing shoes! Attire: semiformal.</p>
							<span class="cd-date">Sunday 3:30pm sharp!</span>
						</div> <!-- cd-timeline-content -->
					</div> <!-- cd-timeline-block -->

					<!-- Monday-->
					<div class="cd-timeline-block">
						<div class="cd-timeline-img cd-picture">
							<img src="{% static 'images/icons/logo.png' %}" alt="">
						</div> <!-- cd-timeline-img -->
						<div class="cd-timeline-content">
							<h2>Farewell Brunch</h2>
							<p>Join us for a casual farewell brunch back in the tent on the South Lawn of Chatham Bars Inn. Attire: casual.</p>
							<span class="cd-date">Monday 9:30am</span>
						</div> <!-- cd-timeline-content -->
					</div> <!-- cd-timeline-block -->

				</section> <!-- cd-timeline -->
			</div>

			<!-- CTA -->
			<section id="cta" class="main special">
				<h2>We Hope You Can Make It</h2>
				<p>We are looking forward to celebrating with you.<br />
				Feel free to contact us with any questions, comments<br />
				or concerns. See you soon!</p>
				<ul class="actions">
					<li><a href="#" class="button big contactBtn">Contact Info</a></li>
				</ul>
				<ul class="actions">
					<li><a href="/" class="button big">Home Page</a></li>
				</ul>
				<!-- Contact Modal -->
				<div class="contactModal">
				  <div class="contactModal-content">
				    <div class="contactModal-text">
				    	<h3>Email: <a href="mailto:legally.brannie@gmail.com">legally.brannie@gmail.com</a></h3>
				    	<h3>Phone: <a href="tel:1-609-273-2099">1-609-273-2099</a></h3>
				    </div>
				    <a href="#" class="button big contactModal-close">Close</a>
				  </div>

				</div>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/search?f=tweets&q=%23LegallyBrannie&src=typd" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/search/top/?q=%23LegallyBrannie" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/explore/tags/LegallyBrannie/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<p class="copyright">&copy; <a href="https://templated.co">TEMPLATED</a></p>
				<p class="copyright">Icons &copy; <a href="https://www.thenounproject.com">The Noun Project</a></p>
			</footer>

		</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
	</body>
</html>