{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Brian and Annie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
	</head>
	<body>

		<!-- Header -->
		<header id="header" class="alt">
			<div class="inner">
				<h1>Brian and Annie</h1>
				<h2>#LegallyBrannie</h2>
			</div>
		</header>

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main used as intro text-->
			<section id="main" class="main">
				<header>
					<h2>Saturday Activities</h2>
				</header>
				<h4>Please make sure to select an activity on the back of your reply card!</h4>
			</section>

			<!-- Items -->
			<section class="main items">
				<!-- Picnic w/ Jim -->
				<article class="item">
					<header>
						<a href="#" class='disabled'><img src="{% static 'images/jims3.jpg' %}" alt="" /></a>
						<h3>Father-of-the-Bride's Picnic</h3>
					</header>
					<p>Spend the afternoon at a casual picnic at the Knickman family's home, just 15 minutes away from Chatham Bars Inn!  Enjoy a classic Cape Cod lunch buffet and play a round of bocce with the Father-of-the-Bride.  Buses will depart from Chatham Bars Inn every hour from 10:30 am to 1:30 pm, and leave from the Knickman's to take guests back every hour from 11 am to 3 pm.  Feel free to join for 30 minutes, or stay all afternoon!</p>
				</article>
				<!-- Tennis with Kevin -->
				<article class="item">
					<header>
						<a href="#" class='disabled'><img src="{% static 'images/tennis.jpg' %}" alt="" /></a>
						<h3>Tennis with the Father-of-the-Groom</h3>
					</header>
					<p>Join the Father-of-the-Groom for a tennis tournament at Chatham Bars Inn!  We will start with an all-level mixed doubles round-robin at 11 am, followed by a rapid-fire singles series for advanced players at 1 pm. Games will be coordinated and ref’d by the resident Chatham Bars Inn tennis pro, who will also help pair players to balance skill-level.</p>
				</article>
				<!-- Beer -->
				<article class="item">
					<header>
						<a href="#" class='disabled'><img src="{% static 'images/beer.png' %}" alt="" /></a>
						<h3>Cape Cod Brewery Tour</h3>
					</header>
					<p>Cape Cod is home to not just one, but three amazing breweries!  Spend Saturday afternoon exploring them on our brewery tour. The bus will depart from Chatham Bars Inn at <b>11 am (note the time changed from our original plan) </b> and make stops at three local breweries, where you will get a tour and tasting of the local brews on tap. We’ll make sure the bus is stocked with snacks and water, and the second stop also serves a food if you want a mid-brew lunch!  Buses will return to Chatham Bars Inn by 4:30 pm.</p>
				</article>
				<!-- Provincetown -->
				<article class="item">
					<header>
						<a href="#" class='disabled'><img src="{% static 'images/provincetown.png' %}" alt="" /></a>
						<h3>Provincetown Visit</h3>
					</header>
					<p>If you are looking to explore the Cape, spend your Saturday visiting its farther point, Provincetown!  The bus will depart from Chatham Bars Inn at <b> 10 am (note the time changed from our original plan)</b>.  Your first stop will be a at Truro Vineyards, the largest and most scenic winery on Cape.  After a tour and tasting, you will continue on to Provincetown, where you will have 3 hours to explore the local shops, art galleries, restaurants, and beaches.  The bus will depart from Provincetown at 4:00 pm and arrive back at Chatham Bars Inn around 5 pm.</p>
				</article>
				<!-- Choose Your Own -->
				<article class="item">
					<header>
						<a href="#" class='disabled'><img src="{% static 'images/choose.jpg' %}" alt="" /></a>
						<h3></h3>
					</header>
					<p>Explore the Cape on your own! Check out the art galleries in Wellfleet, play a round of golf, hit the beach, or visit the historic Chatham Lighthouse. With over 30 miles of connected bike paths, 560 miles of unspoiled coastline, and an unlimited amount of antique stores, galleries, and restaurants, there are many ways to spend your day.  We have put together a list of some of our favorite <a href='/wedding/activities'>activities</a> and <a href='/wedding/restaurants'>restaurants</a>.</p>
					<ul class="actions">
						<li><a target="_blank" href="/wedding/activities" class="button">Activities</a></li>
						<li><a target="_blank" href="/wedding/restaurants" class="button">Restaurants</a></li>
					</ul>
				</article>

			</section>

			<!-- CTA -->
			<section id="cta" class="main special">
				<h2>We Hope You Can Make It</h2>
				<p>We are looking forward to celebrating with you.<br />
				Feel free to contact us with any questions, comments<br />
				or concerns. See you soon!</p>
				<ul class="actions">
					<li><a href="#" class="button big contactBtn">Contact Info</a></li>
				</ul>
				<ul class="actions">
					<li><a href="/" class="button big">Home Page</a></li>
				</ul>
				<!-- Contact Modal -->
				<div class="contactModal">
				  <div class="contactModal-content">
				    <div class="contactModal-text">
				    	<h3>Email: <a href="mailto:legally.brannie@gmail.com">legally.brannie@gmail.com</a></h3>
				    	<h3>Phone: <a href="tel:1-609-273-2099">1-609-273-2099</a></h3>
				    </div>
				    <a href="#" class="button big contactModal-close">Close</a>
				  </div>

				</div>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/search?f=tweets&q=%23LegallyBrannie&src=typd" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/search/top/?q=%23LegallyBrannie" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/explore/tags/LegallyBrannie/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<p class="copyright">&copy; <a href="https://templated.co">TEMPLATED</a></p>
			</footer>

		</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>

	</body>
</html>