{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Brian and Annie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
	</head>
	<body>

		<!-- Header -->
		<header id="header" class="alt">
			<div class="inner">
				<h1>Brian and Annie</h1>
				<h2>#LegallyBrannie</h2>
			</div>
		</header>

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main used as intro text-->
			<section id="main" class="main">
				<header>
					<h2>Travel Information</h2>
				</header>
					<h3>Sadly this page is still under construction and hopefully coming soon! For now please go back to our <a href='/wedding'>home page</a>.</h3>
			</section>

			<!-- CTA -->
			<section id="cta" class="main special">
				<h2>We Hope You Can Make It</h2>
				<p>We are looking forward to celebrating with you.<br />
				Feel free to contact us with any questions, comments<br />
				or concerns. See you soon!</p>
				<ul class="actions">
					<li><a href="#" class="button big contactBtn">Contact Info</a></li>
				</ul>
				<ul class="actions">
					<li><a href="/" class="button big">Home Page</a></li>
				</ul>
				<!-- Contact Modal -->
				<div class="contactModal">
				  <div class="contactModal-content">
				    <div class="contactModal-text">
				    	<h3>Email: <a href="mailto:legally.brannie@gmail.com">legally.brannie@gmail.com</a></h3>
				    	<h3>Phone: <a href="tel:1-609-273-2099">1-609-273-2099</a></h3>
				    </div>
				    <a href="#" class="button big contactModal-close">Close</a>
				  </div>

				</div>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/search?f=tweets&q=%23LegallyBrannie&src=typd" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/search/top/?q=%23LegallyBrannie" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/explore/tags/LegallyBrannie/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<p class="copyright">&copy; <a href="https://templated.co">TEMPLATED</a></p>
			</footer>

		</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
	</body>
</html>