{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Brian and Annie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
	</head>
	<body>

		<!-- Header -->
		<header id="header" class="alt">
			<div class="inner">
				<h1>Brian and Annie</h1>
				<h2>#LegallyBrannie</h2>
			</div>
		</header>

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main used as intro text-->
			<section id="main" class="main">
				<header>
					<h2>Travel Information</h2>
				</header>
				<p> Chatham, MA is easily accessible from four (sort of) major cities/airports so we'd suggest starting there! In terms of shortest travel time, and in order to allow you to explore the cape on your own (if you so desire) we'd advise renting a car from one of the (sort of) major airports. That said we have put options for planes (EMOJI), trains (EMOJI), busses (EMOJI), and cars (EMOJI) below where relevant.</p>
			</section>

			<!-- Items -->
			<section class="main items">
				<!-- Boston -->
				<article class="item" style="text-align: left">
					<header>
						<a href="#"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
						<h3>Boston</h3>
					</header>
					<p>(EMOJI-PLANE) Fly to Hyannis Airport on <a target="_blank" href="https://www.capeair.com/">Cape Air</a> from Boston Logan Airport and follow from there (~30 minutes for ~$100).</p>
					<p>(EMOJI-TRAIN) Take the <a target="_blank" href="http://capeflyer.com/#sthash.bbqPTlDN.dpbs">Cape Flyer</a> from South Station to the Hyannis Transportation Center and follow from there (~2 hours for ~$20). To get to South Station from Boston Logan Airport you can either take the Silver Line Bus (~20 minutes for free) or a cab (~20 minutes for ~$20-$30). The train has only had one departure on Fridays and twice on Saturdays in years past.</p>
					<p>(EMOJI-BUS) Take the Plymouth and Brockton Bus <a target="_blank" href="http://www.p-b.com/schedules.html">Cape Flyer</a> from Boston Logan Airport or South Station to the Hyannis Transportation Center and follow from there (~2 hours for ~$26). The bus leaves multiple times per day and fills first come first serve starting at the airport so if you try to get on at South Station it may already be full.</p>
					<p>(EMOJI-CAR) Rent a car from one of the various car rental agencies at Boston Logan Airport or in and around Boston. Take I-93 South (or I-90 East to I-93 South if you are starting west of the city) and then take exit 7 for MA-3 South. Follow MA-3 South until it ends and continue over the Sagamore Bridge onto US-6 E. Take exit 10 for MA-124 bearing right towards Harwich/Brewster. Then take your first left onto Queen Anne Road (continuing straight through the trafic circle) which becomes Old Queen Anne Road and then Old Comers Road and then merges onto MA-28 S which will becomes Shore Road on which Chatham Bars Inn is located (lots of name changes but no turns).</p>
				</article>
				<!-- Providence -->
				<article class="item" style="text-align: left">
					<header>
						<a href="#"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
						<h3>Providence</h3>
					</header>
					<p>(EMOJI-BUS) Take the <a target="_blank" href="https://peterpanbus.com/">Peter Pan Bus</a> from the Peter Pan Bus Terminal to Hyannis and follow from there (~2 hours for ~$31). The bus leaves multiple times per day. To get to the Peter Pan Bus Terminal from the Providence Airport you will need to take a cab (~15 minutes for ~$15 in an Uber).</p>
					<p>(EMOJI-CAR) Rent a car from one of the various car rental agencies at the Providence Airport or in and around Providence. Take I-195 East and then take exit 22A to merge onto MA-25 E toward Cape Cod. Then continue onto MA-28 S over the Bourne Bridge. Then at the Bourne Rotary take the 5th exit onto Sandwich Road. Follow the road for ~3 miles and then follow signs for the Mid-Cape Connector / US-6 E and continue onto US-6 E. Take exit 10 for MA-124 bearing right towards Harwich/Brewster. Then take your first left onto Queen Anne Road (continuing straight through the trafic circle) which becomes Old Queen Anne Road and then Old Comers Road and then merges onto MA-28 S which will becomes Shore Road on which Chatham Bars Inn is located (lots of name changes but no turns).</p>
				</article>
				<!-- Hyannis -->
				<article class="item" style="text-align: left">
					<header>
						<a href="#"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
						<h3>Hyannnis</h3>
					</header>
					<p>(EMOJI-BUS) Take the <a target="_blank" href="http://www.capecodtransit.org/h2o-route.htm">Cape Cod Regional Transit H20 Bus</a> from the Hyannis Transportation Center to downtown Chatham (~1 hours for ~$2). The bus leaves multiple times per day. To get to the Hyanis Transportation Center from the Hyannis Airport you will need to take a cab (~5 minutes for ~$10 in an Uber).</p>
					<p>(EMOJI-CAR) Rent a car from one of the various car rental agencies at the Hyanis Airport. If you arrive at the Hyannis Transportation Center there is one car rental agency there but the majority of the big name brands are at the airport so take a cab to the airport (~5 minutes for ~$10 in an Uber). At the traffic circle near the airport take the fifth exit (if coming from the airport terminal) onto Iyannough Road (MA 28-E) for one mile and then turn left onto Yarmouth Road. Then in ~2 miles take a right onto US-6 E. Take exit 10 for MA-124 bearing right towards Harwich/Brewster. Then take your first left onto Queen Anne Road (continuing straight through the trafic circle) which becomes Old Queen Anne Road and then Old Comers Road and then merges onto MA-28 S which will becomes Shore Road on which Chatham Bars Inn is located (lots of name changes but no turns).</p>
				</article>
				<!-- New York City -->
				<article class="item" style="text-align: left">
					<header>
						<a href="#"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
						<h3>New York City</h3>
					</header>
					<p>(EMOJI-PLANE) There are flights from all major New York airports to Boston and Providence and Jet Blue runs one flight a day in the summer from JFK to Hyannis and follow from there (~1 hour and book early for cheaper rates).</p>
					<p>(EMOJI-TRAIN) Take the <a target="_blank" href="https://www.amtrak.com/home">Amtrak</a> from New York Penn Station or Newark Airport to Providence or Boston and follow from there (~3-4 hours and book early for cheaper rates). To get to Penn Station from JFK or LaGuardia Airports you can take a cab (~30 minutes with no traffic for ~$65) or from JFK you can take the airtrain to the E-Train (~1 hour for ~$7).</p>
					<p>(EMOJI-BUS) Take the <a target="_blank" href="https://peterpanbus.com/">Peter Pan Bus</a> to Hyanis from the Port Authority Bus Terminal and follow from there (~6 hours for ~$63) or take <a target="_blank" href="https://www.megabus.com/">MegaBus</a>, <a target="_blank" href="https://www.boltbus.com/">BoltBus</a>, or others from the Port Authority Bus Terminal to Boston and follow from there (~5 hours for ~$10-$50). The Port Authority Bus Terminal is attached to Penn Station (although it is a bit of a walk). See the train section above for information from JFK and LaGuardia Airports and from Newark Airport you can take New Jersey Transit to Penn Station (~25 minutes for ~$15).</p>
					<p>(EMOJI-CAR) Rent a car from one of the various car rental agencies at the various airports or in and around the city. Then take the following steps to get onto I-95 N in the Bronx and then follow below:
						<ul>
							<li>From LaGuardia (~4.25 hours without traffic): Take the Grand Central Parkway east and take exit 9E for the Whitestone Expressway / I-678. Take the I-678 N over the Whitestone Bridge and continue onto the Hutchinson River Parkway N. Then take exit 6 for I-95 N toward New Haven.</li>
							<li>From JFK (~4.5 hours without traffic): Take I-678N and continue on it over the Whitestone Bridge and then continue onto the Hutchinson River Parkway N. Then take exit 6 for I-95 N toward New Haven.</li>
							<li>From Newark (~4.75 hours without traffic): Follow signs for I-78/I-95 and merge onto I-78 then take the exit for I-95 N. Continue on I-95 N over the George Washington Bridge and through the Bronx towards New Haven.</li>
							<li>From Midtown Manhattan (~4.5 hours without traffic): Take the FDR drive north then take exit 17 for the RFK (Triboro) Bridge and continue onto I-278 E toward New England then merge onto I-95 N toward New Haven.</li>
						</ul>
						Then once you are on I-95 N continue on it through Stamford and New Haven all the way to Providence. At Providence take exit 19 for I-195 E. Continue on I-195 East and then take exit 22A to merge onto MA-25 E toward Cape Cod. Then continue onto MA-28 S over the Bourne Bridge. Then at the Bourne Rotary take the 5th exit onto Sandwich Road. Follow the road for ~3 miles and then follow signs for the Mid-Cape Connector / US-6 E and continue onto US-6 E. Take exit 10 for MA-124 bearing right towards Harwich/Brewster. Then take your first left onto Queen Anne Road (continuing straight through the trafic circle) which becomes Old Queen Anne Road and then Old Comers Road and then merges onto MA-28 S which will becomes Shore Road on which Chatham Bars Inn is located (lots of name changes but no turns).
					</p>
				</article>

			</section>

			<!-- CTA -->
			<section id="cta" class="main special">
				<h2>We Hope You Can Make It</h2>
				<p>We are looking forward to celebrating with you.<br />
				Feel free to contact us with any questions, comments<br />
				or concerns. See you soon!</p>
				<ul class="actions">
					<li><a href="#" class="button big contactBtn">Contact Info</a></li>
				</ul>
				<ul class="actions">
					<li><a href="/" class="button big">Home Page</a></li>
				</ul>
				<!-- Contact Modal -->
				<div class="contactModal">
				  <div class="contactModal-content">
				    <div class="contactModal-text">
				    	<h3>Email: <a href="mailto:legally.brannie@gmail.com">legally.brannie@gmail.com</a></h3>
				    	<h3>Phone: <a href="tel:1-609-273-2099">1-609-273-2099</a></h3>
				    </div>
				    <a href="#" class="button big contactModal-close">Close</a>
				  </div>

				</div>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/search?f=tweets&q=%23LegallyBrannie&src=typd" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/search/top/?q=%23LegallyBrannie" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/explore/tags/LegallyBrannie/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<p class="copyright">&copy; <a href="https://templated.co">TEMPLATED</a></p>
			</footer>

		</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
	</body>
</html>